*{
    font-family: Arial, Helvetica, sans-serif;
}

header nav{
    display: flex;
    justify-content: space-between;
    padding: 2vw 0vw 2vw 3vw;
    font-size: 1.2rem;
    text-align: center;
}

header ul{
    display: flex;
    text-align: center;
}

header ul li{
    padding: 0 5vw 0 0;
}

header li #atual{
    color: rgba(16, 144, 203, 1);
}

header ul li #contact{
    color: white;
    background: rgba(16, 144, 203, 1);
    padding: .7vw 1vw .7vw 1vw;
    border-radius: 10px;
}

/*--------------------------------
            sec  persona
----------------------------------*/

.persona{
    border-top: rgba(196, 196, 196, 1) solid 1px;
    background-color:#1090CB1A;
    display: flex;
}

.persona div#persona img{
    height: 50vw;
    width: auto;
    margin: 0 4vw 0 0;
}

.persona div#text{
    padding: 9vw 20vw 0 8vw;
}

.persona div#text span{
    color: rgba(16, 144, 203, 1);
}

.persona div#text h1{
    line-height: 3.4vw;
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 3.5vw;
}

.persona div#text p{
    color: rgba(92, 92, 92, 1);
    line-height: 2vw;
    padding-bottom: 3vw;
}

.persona ul{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.persona ul li{
    padding: 1.2vw 3vw 1.2vw 3vw;
    border-radius: 20px;
    margin: 0 20px 0 0;
}

.persona ul li#contact{
    background-color: rgba(16, 144, 203, 1);
}

.persona ul li#view{
    background-color: white;
    border: rgb(16, 144, 203) 1px solid;
}

/*----------------------------
        sec icons
------------------------------*/

.icons{
    display: flex;
    padding: 2vw 1vw 2vw 1vw;
}

.icons div.icons{
    display: flex;
    padding: 0 0 0 9vw;
    align-items: center;
}
.icons div{
    padding: 0 0 0 10px;
}


.icons #web { 
    border-radius: 20px;
    padding: 12px 12px 9px 12px;
    background-color: #EFEAFF;
}

.icons #sed{
    border-radius: 20px;
    padding: 12px 12px 9px 12px;
    background-color:#ECFFDA;
}

.icons #vr{
    border-radius: 20px;
    padding: 12px 12px 9px 12px;
    background-color:#DAE6FF ;
}

.icons #mobile{
    border-radius: 20px;
    padding: 12px 12px 9px 12px;
    background-color: #FFE5DA;
}

.icons .subIcon{
    padding: 10px 0 0 0;
    color: #969696;
    font-size: 0.9rem;
}

/*----------------------------
        sec celular
------------------------------*/

.celular h2{
    border-top: rgba(196, 196, 196, 1) solid 1px;
    padding: 5vw 0 4vw 0;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.celular #top p{
    text-align: center;
    color: #969696;
    padding: 0 33vw 5vw 33vw;
}

.celular #divUm, .celular #divDois{
    align-items: center;
    padding: 0 12vw 5vw 12vw;
    display: flex;
}


.celular #divUm h3, .celular #divDois h3{

    font-size: 2rem;
    padding: 0 0 1.5vw 0;
    font-weight: bold;

}

.celular #divUm span, .celular #divDois span{
    color: #1090CB;
}

.celular #divUm p, .celular #divDois p{
    color: #545454;
    line-height: 1.3vw;
}

/*----------------------------
        sec blocos
------------------------------*/

.blocos{
    display: flex;
    padding: 0 10vw 7vw 10vw;
    text-align: center;
}

.blocos #um{
    background-color: #F4F4F4;
}

.blocos #dois{
    background-color: #1090CB;
}

.blocos #um, .blocos #dois{
    padding: 2vw 4vw 2vw 4vw;
    margin: 0 2vw 0 0;
    border-radius: 20px;
}

.blocos #um h3, .blocos #dois h3{
    font-size: 1.4rem;
    padding: 0 6vw 2vw 6vw;
    font-weight: bold;

}

.blocos #um p, .blocos #dois p{
    color: #545454;
    padding: 0 2vw 2vw 2vw;
}

.blocos #dois h3,.blocos #dois p{
    color: white;
}

.blocos #um a,.blocos #dois a{
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
}

.blocos #um a{
    color: white;
    background-color: #1090CB;
}

.blocos #dois a{
    color: #1090CB;
    background-color: white;
}

/*----------------------------
        sec email
------------------------------*/

.email{
    text-align: center;
    background-color: #E8F4FA;
    padding: 10vw 0 10vw 0;
    font-size: 1.5rem;
}

.email h2{
    padding: 0 39vw 0 39vw;
}

.email input#email{
    border: none;
    margin-top: 1vw;
    padding: 15px 18vw 15px 1vw;
    border-radius: 10px;
}

.email input#submit{
    border: none;
    color: white;
    background-color: black;
    padding: 15px 2vw 15px 2vw;
    border-radius: 10px;
}

/*----------------------------
        rodape
------------------------------*/

footer .flex{
    display: flex;
    justify-content: space-between;
    padding: 4vw 7vw;
    border-bottom: rgba(196, 196, 196, 1) solid 1px;
}

footer div#um p{
    color: #515151;
    padding: 2vw 0 0 0;
}

footer div#dois p#us{
    color: black;
    padding: 0 0 2vw 0;
}

footer div#dois p{
    color: #515151;
    padding: 0 0 10px 0;
}

footer p#solo{
    text-align: center;
    color: #515151;
    padding: 3vw 0 3vw 0;
}
